@model Course

@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Course</h2>
            <hr />
        </div>
        @* This is for a summary of error above form-- i dont like it <div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="CourseName">Course Name</label>
            <input asp-for="CourseName" class="form-control"/>
            <span asp-validation-for="CourseName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px;">Create</button>
        <a asp-controller="Course" asp-action="Index" class="btn btn-secondary" style="width:150px;">Back to Home</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


