@model Course

@{
    ViewData["Title"] = "Create";
}

<div class="row mt-4 text">
    <div class="col-md-8 offset-3">
        <h1>Create Course</h1>
        <div class="row">
            <div class="col-8">
                <form method="post" asp-action="Create" asp-controller="Course">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <div class="form-group">
                            <label class="float-start">Course</label>
                            <input class="form-control" asp-for="CourseName"/>
                            <span asp-validation-for="CourseName" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <input type="submit" value="Create" class="btn btn-primary float-end"/>
                            <a class="btn btn-secondary float-start" asp-controller="Course" asp-action="Index">Show All</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


